<!-- component -->

<div class="max-w-full sm:mx-auto sm:px-6">
  <div class="text-sm md:text-base grid grid-cols-2 lg:flex gap-1 md:gap-3">
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden hover:shadow-lg hover:scale-105 transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-[#184c6c] p-5">
        <div class="sm:flex sm:items-start">
          <svg width="64" height="64" fill="#0894ac" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.063 10.5H13.5a2.25 2.25 0 0 1-2.25-2.25V1.687a.188.188 0 0 0-.188-.187H6.75a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-8.813a.188.188 0 0 0-.188-.187ZM15.75 18h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Zm0-3.75h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Z"></path>
            <path d="m19.65 8.839-6.74-6.741a.093.093 0 0 0-.16.066v6.085a.75.75 0 0 0 .75.75h6.085a.094.094 0 0 0 .066-.16Z"></path>
          </svg>
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-300">Form DA</h3>
            <p class="text-2xl md:text-3xl font-bold text-gray-300">{{dataDALength}}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden hover:shadow-lg hover:scale-105 transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-[#184c6c] p-5">
        <div class="sm:flex sm:items-start">
          <svg width="64" height="64" fill="#0894ac" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.063 10.5H13.5a2.25 2.25 0 0 1-2.25-2.25V1.687a.188.188 0 0 0-.188-.187H6.75a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-8.813a.188.188 0 0 0-.188-.187ZM15.75 18h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Zm0-3.75h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Z"></path>
            <path d="m19.65 8.839-6.74-6.741a.093.093 0 0 0-.16.066v6.085a.75.75 0 0 0 .75.75h6.085a.094.094 0 0 0 .066-.16Z"></path>
          </svg>
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-300">Form ITCM</h3>
            <p class="text-2xl md:text-3xl font-bold text-gray-300">{{dataITCMLength}}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden hover:shadow-lg hover:scale-105 transform transition-all mb-4 w-full sm:my-8">
      <div class="bg-[#184c6c] p-5">
        <div class="sm:flex sm:items-start">
          <svg width="64" height="64" fill="#0894ac" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.063 10.5H13.5a2.25 2.25 0 0 1-2.25-2.25V1.687a.188.188 0 0 0-.188-.187H6.75a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-8.813a.188.188 0 0 0-.188-.187ZM15.75 18h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Zm0-3.75h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Z"></path>
            <path d="m19.65 8.839-6.74-6.741a.093.093 0 0 0-.16.066v6.085a.75.75 0 0 0 .75.75h6.085a.094.094 0 0 0 .066-.16Z"></path>
          </svg>
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-400">BA ITCM</h3>
            <p class="text-2xl md:text-3xl font-bold text-gray-300">{{dataBALength}}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden hover:shadow-lg hover:scale-105 transform transition-all mb-4 w-full sm:my-8 ">
      <div class="bg-[#184c6c] p-5">
        <div class="sm:flex sm:items-start">
          <svg width="64" height="64" fill="#0894ac" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.063 10.5H13.5a2.25 2.25 0 0 1-2.25-2.25V1.687a.188.188 0 0 0-.188-.187H6.75a3 3 0 0 0-3 3v15a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-8.813a.188.188 0 0 0-.188-.187ZM15.75 18h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Zm0-3.75h-7.5a.75.75 0 1 1 0-1.5h7.5a.75.75 0 1 1 0 1.5Z"></path>
            <path d="m19.65 8.839-6.74-6.741a.093.093 0 0 0-.16.066v6.085a.75.75 0 0 0 .75.75h6.085a.094.094 0 0 0 .066-.16Z"></path>
          </svg>
          <div class="text-center sm:mt-0 sm:ml-2 sm:text-left">
            <h3 class="text-sm leading-6 font-medium text-gray-300">Hak Akses</h3>
            <p class="text-2xl md:text-3xl font-bold text-gray-300">Kosong</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="">
  <div class="relative space-y-8 md:space-y-0 md:flex md:flex-row-reverse h-screen border">
    <img class="absolute bottom-0 right-0 w-64 hidden md:block z-0"
      src="https://rekrutmenbersama2024.fhcibumn.id/assets/frontend/images/omni-right.svg" alt="">
    <div class="flex justify-center items-center md:w-1/2 ">
      <div class="h-auto w-full px-4">
        <h1 class="py-6 text-3xl font-bold">“AINO Bikin Jadi Mudah”</h1>
        <hr>
        <p class="mt-4 py-4 leading-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime dolore rem non unde, veniam, veritatis minus modi assumenda blanditiis consectetur facilis aut ea architecto perferendis harum explicabo rerum alias eligendi?</p>

        <h5 class="font-medium">Raih karir impianmu dengan belajar, bertumbuh dan
          berkontribusi untuk Indonesia!
        </h5>
        <p class="mt-5 mb-3">
          <i class="text-sky-700">#bikinjadimudah</i>
        </p>

        <button class="text-sm md:text-lg px-5 md:px-9 py-1 bg-gradient-to-r from-sky-200 to-sky-500 hover:bg-gradient-to-r hover:from-sky-300 hover:to-sky-600 p-4 rounded-full text-gray-50 hover:shadow-sm">Flow Hak Akses</button>
      </div>
    </div>
    <div class="md:w-1/2"><img class="h-full w-full object-cover"
        src="https://i.pinimg.com/474x/9e/89/d9/9e89d928b8d2d0edef485b245f1c9552.jpg" alt="" srcset=""></div>
  </div>
</div> -->

<div class="bg-[#0894ac]  p-4 rounded-2xl shadow-2xl">
  <div class="flex w-full">
    <div class="w-1/2 my-auto px-16">
      <!-- <div class="my-auto"> -->
      <h1 class="text-[2.4rem] leading-10 font-bold text-white">Find the book you're looking for easier to read.</h1>
      <p class="text-sm my-1 text-white">The most appropriate book site to reach books</p>
      <button class="my-5 px-4 py-1 rounded-full bg-blue-600 hover:bg-blue-700 text-white font-medium uppercase transition ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 hover:bg-blue-800 duration-300">Start
        the journey</button>
      <!-- </div> -->
    </div>
    <div class="w-1/2">
      <!-- <img src="https://i.pinimg.com/564x/ae/aa/00/aeaa00437541991d124b214e3406600d.jpg" alt=""> -->
      <img src="https://rekrutmenbersama2024.fhcibumn.id/assets/frontend/images/saly-10.png" alt="">
    </div>
  </div>
  </div>